{% include 'basic.html' %}

{% block body %}
<h1>Search An Employee</h1>
<hr>
<div class="container">

    <form action="{% url 'search_emp' %}" method="POST">
        {% csrf_token %}
        
        <div class="mb-3 mx-4">
            <label for="first_name">First Name / Last Name</label><br>
        <input type="text"name="name" value="{{name}}"><br>
        
        <label for="dep">Department</label><br>
        <input type="text"name="dept" value="{{dept}}"><br>
        
        <label for="role">role</label><br>
        <input type="text"name="role" value="{{role}}"><hr>
    
      
          <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
        
      <button type="submit" class="btn btn-primary mx-4">Submit</button>
      </div>
    </form>
  
    
    
    
</div>
{% endblock body %}